<p><%= link_to 'List of Augmentations', augmentations_path %></p>
<br/>

<p>
  <strong>Title:</strong>
  <%= @augmentation.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @augmentation.description %>
</p>

